<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="/ueditor/UE/third-party/SyntaxHighlighter/shCoreDefault.css">
    <script type="text/javascript" src="/ueditor/UE/third-party/SyntaxHighlighter/shCore.js"></script>
    <script type="text/javascript" src="/ueditor/UE/ueditor.config.js"></script>
    <script type="text/javascript" src="/ueditor/UE/ueditor.all.min.js"></script>
    <script type="text/javascript" src="/ueditor/UE/lang/zh-cn/zh-cn.js"></script>

    <script type="text/javascript">
    	var ue = UE.getEditor('editor');
    	SyntaxHighlighter.all();
    </script>
</head>
<body>
    <h1>Understanding Clouds from Satellite Images</h1>
    <h3>Please type in the name of the image.</h3>
    
    {% block mainbody %}
        <p>original</p>
    {% endblock %}

    <div class="layer_footer">
        <span>© 2019 Jialun Wang</span>
        <span class="dot">·</span>
        <span>Shuwei Li</span>
        <span class="dot">·</span>
        <span>Haoqi Gu</span>
        <br />
        <span>Understanding Clouds from Satellite Images</span>
        <br />
        <span>EC601</span>
        <span class="dot">·</span>
        <span>ECE</span>
        <span class="dot">·</span>
        <span>Boston University</span>
    </div>

</body>
</html>
